.student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.672);
    margin: 10px;
    color: black;
    background-color: rgba(0, 0, 0, 0.139);
}
 .student p{
    margin: 0;
 }